*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
body{
    font-family: "Cairo", sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color:#2196f3;
    --main-color-alt: #1787e0;
    --main-transision:0.3s;
}
ul{

    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-right: 15px;
    padding-left:15px ;
    margin-left: auto;
    margin-right: auto;
}
.main-title{
margin-bottom: 80px;
margin-left: 50%;
transform: translateX(-50%);
font-size: 30px;
text-transform: uppercase;
font-weight: bold;
padding: 10px 20px;
border: 2px solid black;
width: fit-content  ;
position: relative;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;

}
.main-title::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translatey(-50%);
    transition: var(--main-transision);
}

.main-title::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translatey(-50%);
}
@keyframes main-right{
   50% {
        right:0;
    }
     100%{
                right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0%;
        z-index: -1;
    }
    
}
@keyframes main-left {
    50% {
        left: 0;
    }

    100% {
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0%;
        z-index: -1;
    }}
        .main-title:hover::before {
            animation: main-left 0.5s linear forwards;
        }
 .main-title:hover:after {
     animation: main-right 0.5s linear forwards; 
  } 

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.header{
    background-color: white;
    box-shadow: 0 0 10px #ddd ;
    position: relative;
}
.header .container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width: 767px) {
    .header .container {
        justify-content: center;
        display: block;
    }
}
.header  .logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .container .main-nav{
    display: flex;
}
.header .container .main-nav >li:last-of-type:hover .mega-menu {
z-index: 1;
opacity: 1;
top: calc(100% + 1px);
}
@media (max-width: 767px) {
    .header .container .main-nav {
        
        display: flex;
            justify-content: center;
    }
}
.header .container .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    font-size: 18px;
    transition: var(--main-transision);
    overflow: hidden;
}
@media (max-width: 767px) {
    .header .container .main-nav>li>a {
        font-size: 14px;
        height: 40px;
        padding: 10px;
    }
}
.header .container .main-nav>li>a::before {
    position: absolute;
    content: "";
    transition: var(--main-transision);
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;

}
.header .container .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .container .main-nav>li>a:hover::before {
    left: 0;
}
.header .mega-menu{
position: absolute;
width: 100%;
left: 0;
padding: 30px;
background-color: white;
border-bottom:3px solid var(--main-color)  ;
z-index: -1;
opacity: 0;
display: flex;
gap: 40px;
top: calc(100% + 50px);
transition: top var(--main-transision), opacity var(--main-transision);
}
@media (max-width:992px) {
    .header .mega-menu {
        gap: 0;
    }
}
@media (max-width: 767px) {
.header .mega-menu {
flex-direction: column;
gap: 0;
padding:5px ;
}
}

.header .mega-menu ul{ 
    min-width: 240px;
    flex: 1;
}
@media (max-width:992px) {
.header .mega-menu ul {
    width: 50%;
    }
.header .mega-menu ul:last-of-type {
    margin-left: 40px;
}
}
@media (max-width:767px) {
    .header .mega-menu ul {
        width: 100%;
    }

    .header .mega-menu ul:last-of-type {
        margin-left: 0px;
    }
}
.header .mega-menu ul li{
    position: relative;

}
@media (max-width:767px) {
        .header .mega-menu ul:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
        }
    }
    
.header .mega-menu ul li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;

}

 .header .mega-menu ul li::before { 
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transision) ;
}
 .header .mega-menu ul li:hover::before {
    width: 100%;
 }

.header .mega-menu ul li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}
.header .mega-menu ul li a i{
    margin-right: 10px;
}
.header .mega-menu .image img{
    max-width: 100%;
}
@media (max-width:992px) {
    .header .mega-menu .image img {
        display: none;
        }}
.landing{
    position: relative;
}

.landing::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    min-height: calc(100vh - 72px);
}
.landing .container .text{
    flex: 1;
}
@media (max-width:992px) {
.landing .container .text {

    text-align: center;
}
}

.landing .container .text h1{
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0px;
}
@media (max-width: 767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }
}

.landing .container .text p{

    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0 ;
    color: #777;
    max-width: 500px;
}
@media (max-width: 992px) {
    .landing .container .text p {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .container .text p {
        font-size: 18px;
    }
}
.landing .container .image img{
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite;

}
@media (max-width:992px) {
.landing .container .image img {
    display: none;
}
}
.landing .go-down{
    color: var(--main-color);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    bottom: 30px;
    transition: var(--main-transision);
}
.landing .go-down:hover {
color: var(--main-color-alt);
}
.landing .go-down i{
animation: bouncing 1.5s infinite;
font-size: 30px;
font-weight: bold;
}
@keyframes up-and-down {
    0% , 100%{
        top: 0;

    }
    50%{
        top: -50px;
    }
    
}
@keyframes bouncing{
    0% ,10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-15px);
    }
}
.articles-content .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.articles-content .container .card{
    box-shadow: 0px 2px 15px  rgb(0 0 0/ 10% );
    border-radius: 5px;
    transition: transform var(--main-transision), box-shadow var(--main-transision);
}
.articles-content .container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 15px rgb(0 0 0/ 20%);
}

.articles-content .container .card .image{
        border-radius: 5px;
    width: 100%;
}
.articles-content .container .card .image img{
    width: 100%;
    border-radius: 5px;
}
.articles-content .container .card .text{
    padding: 20px;
}
.articles-content .container .card .text h3{
    text-transform: capitalize;
    margin: 0;
}
.articles-content .container .card .text p{
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}
.articles-content .container .card .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--main-color);
    border-top: #e9e6e6 1px solid;
}
.articles-content .container .card .bottom a{
    font-weight: bold;
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 16px;


}
.articles-content .container .card .bottom i:hover {
    right: 0;
}
.gallery{
    padding-top: 100px;
    padding-bottom:80px;
    position: relative;
    background-color: #ececec;
}
.gallery .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.gallery .container .box{
    padding: 15px;
    box-shadow: 0px 12px 20px 0 rgb(0 0 0/ 13%), 0px 2px 4px 0 rgb(0 0 0/ 12%);
    background-color: white;
   
    overflow: hidden;
}
.gallery .container .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .container .box .image::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0px;
    height: 0px;
    z-index: 2;
    opacity: 0;
}
.gallery .container .box .image:hover::before {
    animation: flashing 0.7s;
}
@keyframes flashing{
    0%, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
.gallery .container .box .image img{
    max-width: 100%;
    transition:  var(--main-transision);
}
.gallery .container .box .image:hover img {
    transform: rotate(5deg) scale(1.1);    
}
.features{
    padding-top: 100px;
        padding-bottom: 80px;
        position: relative;
        background-color: white;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .container .card{
    text-align: center;
    border: 1px solid #ddd;
    
}
.features .container .card h2{
    font-size: 40px;
    text-transform: capitalize;
    margin: 0 auto 30px; 
    width: fit-content;
    position: relative;
  

}
.features .container .card  h2::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 5px;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transision);
}
.features .container .card:hover h2::before{
    width: 100%;
}


.features .container .card p {
    padding: 25px;
    font-size: 20px;
    margin: 30px 0px;
    line-height: 2;
    color: #777;
}
.features .container .card .image {
    position: relative;
    overflow: hidden;
}
.features .container .card .image::before {
    position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        border-style: solid;
        border-color: transparent    transparent white transparent;
        border-width: 00px 0px 170px 500px;
        transition:  var(--main-transision);
        z-index: 100;
}
.features .container .card:hover .image::before {
            border-color: transparent transparent white transparent;
        border-width: 170px 500px 170px 0px;
}


.features .container .card .image img {
    max-width: 100%;
}


.features .container .card a{
        padding: 10px 0px;
        display: block;
        font-weight: bold;
        font-size: 22px;
        text-transform: capitalize;
        border-radius: 5px;
        border: 3px solid black;
        margin: 30px auto  ;
        width: 115px;
        transition: var(--main-transision);
        background-size: 200% 100%;
        background-position: right bottom;
}
.features .container .quality a{
            color: rgb(244 64 54/1);
            border: 3px solid rgb(244 64 54/1);
            background-image: linear-gradient(to right, rgb(244 64 54/1) 50%, white 50% );
       
}
.features .container .time a {
            color: rgb(0 150 136/1);
                border: 3px solid rgb(0 150 136/1);
                background-image: linear-gradient(to right, rgb(0 150 136/1) 50%, white 50%);
}
.features .container .passion a {
color: rgb(3 169 244/1);
    border: 3px solid rgb(3 169 244/1);
    background-image: linear-gradient(to right, rgb(3 169 244/1) 50%, white 50%);
}
.features .container .card:hover a{
    background-position: left bottom;
    color: white;
}
.features .container .card .image::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.features .container .quality .image::after {
    background-color: rgb(244 64 54/60%);
}
.features .container .time .image::after {
    background-color: rgb(0 150 136/60%);
}
.features .container .passion .image::after {
    background-color: rgb(3 169 244/60%);
}
.features .container .quality h2::before{
    background-color: rgb(244 64 54/1);
}
.features .container .time h2::before {
    background-color: rgb(0 150 136/1);
}
.features .container .passion h2::before {
    background-color: rgb(3 169 244/1);
}
.tetsimonials {
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
    background-color: #ececec;
}
.tetsimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.tetsimonials .container .card{
    background-color: white;
    position: relative;
    padding: 20px;
    border-radius:5px ;
    box-shadow: 0 2px 4px rgb(0 0 0/7%);
}
.tetsimonials .container img{
    width: 100px;
    position: absolute;
    right: -10px;
    top: -50px;
    border: solid #ececec 10px;
    z-index: 1;
    border-radius: 50%;
}

.tetsimonials .container h3 {
    text-transform: capitalize;
    margin :0 auto 10px ;
}
.tetsimonials .container span {
    display: block;
    color: #777;
    text-transform: capitalize;
        margin-bottom: 10px;
}
.tetsimonials .container .filled{
    color: #FFC107;
}

.tetsimonials .container p{
    color: #777;
        margin-top: 10px;
    line-height: 1.5em;
    margin-bottom: 0;
}
.team-members{
    padding-top: 100px;
        padding-bottom: 80px;
        position: relative;
}
.team-members .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
        
}
.team-members .container .card{
position: relative;
}
.team-members .container .card::before {
    position:absolute;
    content: "";
    background-color: #f3f3f3;
    right: 0;
    top: 0;
    border-radius: 10px;
    width: calc(100% - 60px);
    height: 100%;
    z-index: -2;
}
.team-members .container .card::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #e4e4e4;
    z-index: -1;
    border-radius: 10px;
    transition: var(--main-transision);
}
.team-members .container .card:hover::after {
    width: calc(100% - 60px);
}
.team-members .container .card img{
        width: calc(100% - 60px);
        margin-top: 60px;
    border-radius: 10px;
    transition: var(--main-transision);
}
.team-members .container .card:hover img{
    filter: grayscale(100%);
    bottom: 0;
}
.team-members .container .card .social{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    right: 20px;
}
.team-members .container .card .social a{
    margin-bottom: 30px;
    font-weight: normal;
    color: #777;
    transition: var(--main-transision);
}
.team-members .container .card .social a:hover{
    color: var(--main-color);
}
.team-members .container .card .info{
margin-left: 80px;
text-transform: capitalize;
}
.team-members .container .card .info h3 {
    color: var(--main-color);
    margin: 22px 0 0 0;
    font-size: 22px;
    transition: var(--main-transision);
}
.team-members .container .card:hover .info h3 {
    color: #777;
}
.team-members .container .card .info p{
    margin:10px 0 25px  0;
}
.services{
    padding-top: 100px;
        padding-bottom: 80px;
        position: relative;
        background-color: #ececec;
}

.services .container{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;
}
.services .container .card{
    background-color: white;
    box-shadow: 0px 12px 20px 0 rgb(0 0 0/ 13%), 0px 2px 4px 0 rgb(0 0 0/ 12%);
    counter-increment: services;
    position: relative;
    transition: var(--main-transision);
}
.services .container .card:hover{
    transform: translateY(-10px);
}
.services .container .card::before {
    content: "";
    background-color: var(--main-color);
    height: 3px;
    width: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -3px;
    transition: var(--main-transision);

}
.services .container .card:hover:before {
    width: 100%;
}

.services .container .card i{
    font-size: 65px;
    margin: 30px auto 20px;
    text-align: center;
    display: block;
    color: #d5d5d5;
}

.services .container .card h3 {
    text-align: center;
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 40px;
}
.services .container .card .bottom{
    padding: 15px;
    text-align: right;
    text-transform: capitalize;
    position: relative;
    background-color: #f9f9f9;
}
.services .container .card .bottom a{
    color: var(--main-color);
}
.services .container .card .bottom::before {
    content: "0"counter(services);
    position: absolute;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
  top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.services .container .card .bottom::after {
    content: "";
    position: absolute;
        height: 100%;
        top: 0;
        left: 80px;
        background-color: #d5d5d5;
        width: 50px;
        transform: skewX(-30deg);
}